@import "colors";
@import "buttons";
@import "form";
@import "alert";

.red-font
{
  color: @red;
}

.green-font
{
  color: @green;
}

body
{
  color: @main;
}

strong
{
  color: saturate(@blue, 20%);
}

h1
{
  color: lighten(@main, 10%);
}
